input[type='number'],
input[type='text'],
form input {
    border: 1px solid #e3e3e3;
    background: #fff;
    border-radius: 3px;
    font-size: 12px;
    outline: 0;
    padding: 4px 10px;
    width: 100%;
    color: #333;
    line-height: 24px;

    &:focus,
    &:active,
    &:focus {
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        padding: 4px 10px;
        width: 100%;
        color: #333;
        line-height: 24px;
    }
}

$checkbox-width: 15px;

input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    & + label {
        position: relative;
        display: inline-block;
        padding: 6px 10px 6px ($checkbox-width + 10);
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin: (-$checkbox-width/2) 0 0;
            width: $checkbox-width;
            height: $checkbox-width;
            border: 1px solid $white;
            border-radius: $GR;
        }
    }

    // Checked State
    &:checked + label {
        &:before {
            background: $green;
        }
    }

    // Disabled State
    &:disabled {
        & + label {
            cursor: not-allowed;

            &:before {
                background: $grayLight;
            }
        }

        // Disabled Checked
        &:checked + label {
            &:before {
                background-position: (-$checkbox-width*3) 0;
            }
        }
    }
}