body {
    background: $white;
    background-size: cover;
    font-family: Roboto,sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

.cf:before,
.cf:after {
    @include clearfix;
}

* {
    box-sizing: border-box;
    outline: none;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.to {

    &-bottom {
        position: absolute;
        width: 100%;
        bottom: 10%;
        left: 0;
        padding: 0 $GR*2;
    }
}

button, html, input, optgroup, select, textarea {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-clip: padding-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $white;
}

em {
    color: rgb(153, 153, 153);
    display: block;
    font-size: 14px;
}

.p-40 {
    padding: $GR*6;
}

.pa-40 {
    padding: 0 $GR*6;
}

.pa-20 {
    padding: 0 $GR*3;
}

.pa-10 {
    padding: 0 $GR*2;
}

.ma-20 {
    margin: $GR*3 0px;
}

.mb-20 {
    margin-bottom: $GR*3;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: $GR*3;
}

.mr-20 {
    margin-right: $GR*3;
}

.mr-10 {
    margin-right: 10px;
}

.mt-40 {
    margin-top: $GR*6;
}

.mb-40 {
    margin-bottom: $GR*6;
}

.red {
    color: red;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.small {
    font-size: 10px;
}

.with-bg {
    background: $lightBg;
    color: $gray;
}

.capitalize {
    text-transform: uppercase;
}


.btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    line-height: 1;
    transition: all .1s ease-in;
    border: none;
    outline: none;
    text-decoration: none;

    &-full {
        width: 100%;
    }

    &-primary {
        text-transform: uppercase;
        display: block;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 20px;
        font-weight: 900;
        border-radius: 4px;

        &--red {
            background-color: $red;
            color: $white;

            &:hover,
            &:focus,
            &:active {
                background-color: $red;
            }
        }

        &--yellow {
            background-color: $yellow;
            color: $gray;

            &:hover,
            &:focus,
            &:active {
                background-color: $yellowHover;
            }
        }

        &--green {
            background-color: $green;
            color: $white;

            &:hover,
            &:focus,
            &:active {
                background-color: $greenHover;
            }
        }
    }

    &-secondary {
        font-size: 12px;
        line-height: 18px;
        padding: 8px 20px;
        font-weight: 900;
        border-radius: 4px;

        &--red {
            background-color: $red;
            color: $white;

            &:hover,
            &:focus,
            &:active {
                background-color: $red;
            }
        }

        &--yellow {
            background-color: $yellow;
            color: $gray;

            &:hover,
            &:focus,
            &:active {
                background-color: $yellowHover;
            }
        }

        &--green {
            background-color: $green;
            color: $white;

            &:hover,
            &:focus,
            &:active {
                background-color: $greenHover;
            }
        }
    }

    &--small {
        padding: 4px 20px;
    }
}

