// Colors
$white: #ffffff;
$red: red;
$yellow: #FFCC33;
$yellowHover: #f5b800;
$yellowDisabled: #C5A23A;
$green: #529900;
$greenBg: #1DA72A;
$greenHover: #0a8015;
$gray: #4A4A4A;
$grayBg: #464646;
$grayLight: #999999;
$grayDark: #333333;
$lightBg: #eee;
$superLight: #fafafa;
$black: #000;

$GR: 4px;

$first_BP: 768px;
