<loading [loading]="loading"></loading>

<div class="home mt-40">
	<div class="home-list" *ngIf="books.length > 0">
		<div class="cf" *ngFor="let book of books; let i = index">
			<p class="fleft">
				Book title: <strong>{{book.name}}</strong>
			</p>

			<button class="btn btn-secondary btn-secondary--red btn--small fright" (click)="selectedBook = book">Details</button>
		</div>
	</div>
</div>

<modal [data]="selectedBook" [show]="selectedBook" (modalOutput)="closeModal($event)"></modal>