@import '../../../assets/style/_variables';

.header {
	background: $superLight;
	min-height: 47px;
	width: 100%;
	padding: $GR * 2;

	&-logo {
		text-align: center;
		line-height: 0;
		padding: $GR/2 0;

		img {
			max-width: $GR * 40;
		}
	}

}