<div class="block" *ngIf="show">
	<div class="modal">
	    <span class="fright modal-close" (click)="closeModal('close')">X</span>
	    
	    <div class="modal-text">
			<div class="modal-content mb-20" *ngIf="data">
				Book name: {{data.name}}
				<br />
				<small>Release date: {{data.release_date}}</small><br />
				<strong>Author: {{data.author}}</strong>
			</div>

	     	<button class="btn btn-primary btn-primary--yellow btn-full mb-20" (click)="closeModal('ok')">OK</button>
	    </div>
	</div>
</div>