@import '../../../assets/style/_variables';

.block {
	position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    left: 0;
    top: 0;
    z-index: 99;

    .modal {
		width: 75%;
		background: #fff;
		margin: 10% auto;
		border-radius: 4px;
		position: relative;
		max-width: 768px;
		padding: 12px;

		&-close {
			color: $gray;
			z-index: 10;
			cursor: pointer;
			font-size: 22px;

			&:hover,
			&:active,
			&:focus {
				color: $gray;
			}
		}

		&-terms {
			text-align: center;

			a {
				color: #e42412;
				font-size: 12px;
				border-bottom: 1px solid #e42313;
				display: inline-block;
			}
		}
	}
}