<div class="app" [style.height.px]="innerHeight">
    <b-header></b-header>
    <div class="app-container">
        <router-outlet></router-outlet>
    </div>
    <b-footer></b-footer>
    <loading [loading]="loading"></loading>
</div>
